@model IEnumerable<CarWashBer.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Your cars</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel.CarBrand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                <a asp-action="Create">Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel.CarBrand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
